duckdb==1.1.3
folium==0.18.0
jupyter_client==8.2.0
numpy==1.24.2
openpyxl==3.1.2
plotly==5.24.1
prophet==1.1.6
pyspark==3.5.3
scikit-learn==1.5.2
streamlit==1.40.1
streamlit_option_menu
streamlit-searchbox==0.1.19
streamlit_folium==0.23.2
gdown
pandas
